body{
  background-image: url("images/bg.jpg");
  background-size: 1550px 760px;
}

.upper-panel{
  height:100px;
  background-color: pink;
}

.location h4{
  margin-left: 128px;
  margin-top: -25px;
  font-size: 18px;
}
.home-logo h1{
  font-family: 'Aclonica';
  font-size: 40px;
  text-align: center;
  margin-top: -50px;
  margin-left: 550px;
  margin-right: 610px;
}
.upper-panel img{
  margin-top: 25px;
  margin-left: 875px;
}
.timings p{
  font-size: 18px;
  margin-left: 1200px;
  margin-top: -65px;
}
.home-main {
  background: rgba(0,0,0, 0.4);
  color: white;
  margin-top: 100px;
}
.home-main h1{
  font-size: 50px;
  margin-left: 260px;
}
.home-main p{
  font-size:34px;
  margin-left: 170px;
}
.button1{
  width: 125px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  color: #blue;
  background: yellow;
  margin-left:580px;
  font-size: 16px;
}
.button2{
  width: 125px;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  color: #blue;
  background: yellow;
  margin-left:100px;
  font-size: 16px;
}
.button3{
  width: 150px;
  height: 70px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  color: white;
  background: green;
  margin-left:685px;
  font-size: 20px;
}
