body{
  background-image: url("images/login-bg.jpg");
  background-size: 1550px 760px;
  background-repeat: no-repeat;
}
div.logo{
  display: block;
  margin-left: 670px;
  margin-right: 670px;
  margin-top: 10px;
  margin-bottom: 5px;
}
#logo-name h1{
  font-family: 'Aclonica';
  text-align: center;
  background-color: Cyan;
  margin-left: 610px;
  margin-right: 610px;
}
.boxed {
     width: 600px;
    height: 320px;
    padding: 10px;
    border-style: solid;
    border: 6px;
    margin-top: 40px;
    margin-left: 500px;
    background-color: rgba(0,0,0,0.4);
}
#containe {
     width: 650px;
    float: left;
    padding: 20px;
    margin-left:50px;
    margin-top: -20px;

}
.text {
    width: 400px;
    height: 50px;
    background: #fff;
    border-radius: 10px;
    float:left;
    padding-left: 15px;
}
.password {
    width: 400px;
    height: 50px;
    background: #fff;
    border-radius: 10px;
    float:left;
    padding-left: 15px;
    margin-top: 10px;
}
#forgot {
    margin-top: 130px;
}
#forgot a{
     text-decoration: none;
    font-family: arial;
    color: red;
}
.submit {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    color: #blue;
    background: yellow;
    margin-left:10px;
}
.signup {
    margin-top: -28px;
     margin-left:4px;
}
.signup a {
      text-decoration:underline;
    color: blue;
    background-color: yellow;
}
#containe h3{
  color: red;
  font-size: 26px;
}
#containe h4{
  color:red;
}
