.boxed {background-color: #FFF;
    background-image: url("images/menu-bg.jpg");
    background-size: 600px 700px;
     width: 600px;
    height: 700px;
    padding: 10px;
    border: 1px solid grey;
    margin: 80 250px;
    box-shadow:3px 3   background-image: url("paper.gif");px 5px 6px #ccc;
}


.main{
    margin-top: 170px;
    margin-left: -10px;
}
#mainselection select {
   border: 0;
   color: yellow;
   background: cyan;
    font-family: cursive;
    font-weight: bolder;
   font-size: 20px;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: cadetblue;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   width:350px;
   -moz-border-radius: 9px 9px 9px 9px;
   -webkit-border-radius: 9px 9px 9px 9px;
   border-radius: 9px 9px 9px 9px;
   box-shadow: 1px 1px 11px #330033;
   background: #99CCCC url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}
.button4{
  width: 150px;
  height: 70px;
  border-radius: 20px;
  margin-top: 100px;
  border: none;
  color: white;
  background: green;
  margin-left:0px;
  font-size: 20px;
}
